<h1>Example 2
</h1>
<p>
    the controllerInstance used is created using a service. The benefit of this is that is acts as a singelton, if you navigate to others examples, you will notice that data is preserved even thou the actual controller is destoyed.
</p>
<div class="chatform">
    <input placeholder="enter something and hit return..." type="text" ng-model="message.text" ng-keyup="sendMessage($event.keyCode)" />
</div>
<div class="chatmessages" ng>
    <p ng-repeat="message in messages">
        <span>{{message.dt |date:'HH:mm:ss'}}</span>
        {{message.text}}
    </p>
</div>