<style>
    td {
        vert-align: top;
    }

</style>
<section id="list">

    <h1>Tiger&nbsp;</h1>


    <hr />
    <input type="text" ng-keyup="tiger.findOrder($event)" />
    <mark>
        {{tiger.resultsRecieved}}
    </mark>
    <hr />
    <table style="float: left; width: 50%" data-wcount="true">
        <tr ng-repeat="order in tiger.fakeOrders track by $index"
            ng-click="tiger.setOrder($index)"
            __data-wcount="true">

            <td>

                <input type="text" value="{{order.Id}}" />
            </td>
            <td>
                <input type="text" ng-model="order.UniqueId" />
            </td>
            <td>

                <input type="text" ng-model="order.ProjectName" />
            </td>
            <td>
                <input type="text" ng-model="order.CustomerId" />
            </td>

            <td>

                <div>
                    <mark>{{order.Articles.length}}</mark>
                    <ul ng-repeat="article in order.Articles" ng-if="!order.Articles.length >0">
                        <li>
                            <input type="text" ng-model="article.Name" />
                            ({{article.Name}})

                        </li>
                    </ul>
                </div>

            </td>
            <td ng-click="tiger.removeOrder($index)">

                x
            </td>
        </tr>

    </table>
</section>
